

body {background-color: #80bfff}
h1.center {color: white;
    margin-left: 20px}
h2.center {text-align: center;
          color: white;
          margin-left: 20px}
h2 {color: white;
    margin-left: 20px}
p.center {text-align: center;
          color: black}
p{color:black;
  margin-left: 20px}
